body {
  width: 90%;
  max-width: 960px;
  margin: auto;
  color: white;
  background-color: rgb(14, 13, 13);
  font-family: "JetBrains Mono", monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  padding: 16px;
}

.header__logo {
  font-size: 40px;
}

.header-nav-lista {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  gap: 20px;
}

.header-nav-lista a {
  padding: 10px 5px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}

.header-nav-lista a:hover {
  text-decoration: underline;
}

a.header-nav--active {
  color: black;
  background-color: #d4f518;
  pointer-events: none;
}

.main-title,
.header__logo,
.pricing-plan__title,
.pricing-plan__assinatura {
  text-transform: uppercase;
}

.main-title {
  font-size: 62px;
  text-align: center;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(34, 34, 34);
  box-shadow: 0 5px 15px -5px black;
  padding: 30px;
  border-radius: 6px;
}

.pricing-plan__title {
  border-bottom: #d4f518 2px solid;
  margin: 0;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.pricing-plan__price,
.pricing-plan p {
  margin: 16px 0 0 0;
}

.pricing-plan__price {
  font-size: 25px;
  font-weight: bold;
}

.pricing-plan__features {
  flex-grow: 1;
  padding-inline-start: 0;
  margin: 0;
  padding: 20px;
  font-size: 15px;
  color: #adadad;
}

.pricing-plan__features li {
  line-height: 1.8;
}

.pricing-plan__features li::marker {
  color: #d4f518;
}

.pricing-plan__assinatura {
  padding: 10px;
  background-color: #d4f518;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.pricing-plan__assinatura:hover {
  color: rgb(255, 255, 255);
  outline: 2px #d4f518 solid;
  background: transparent;
  transition: 0.4s;
}
